#container {
    display: grid;
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.box {
    padding: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: royalblue;
    grid-column: 1/4;
}
.box2 {
    background-color: yellowgreen;
    grid-row: 2/4;
}
.box3 {
    background-color: palevioletred;
    grid-column: 2/4;
    grid-row-start: 2;
}
.box4 {
    background-color: orange;
    grid-column: 3;
    grid-row: 3;
}